i{
     font-style: normal !important;
 }

.my-category-link:hover{
    color: #fe980f !important;
}

.my-orange-color{
    color: #fe980f;
}

.my-red-color{
    color: #d00;
}

.my-grey-color{
    color: #696763;
}

.my-title-no-goods{
    margin-top: 50px;
}

.cart{
    margin: 0;
}

.my-product-price, .my-product-amount, .my-product-quantity{
    font-size: 20px;
    font-weight: bold;
    color: #fe980f !important;
}

.cart{
    -webkit-transition: background 300ms, color 300ms;
    transition: background 300ms, color 300ms;
}

.my-pagination{
    text-align:center;
    margin: 20px 0;
}

.my-form :focus::-moz-placeholder{
    color: transparent;
}

.my-form ::-webkit-input-placeholder{
    color: #555;
    font-weight: normal;
}

.my-form ::-moz-placeholder{
    color: #555;
    font-weight: normal;
}

.my-form :focus::-webkit-input-placeholder{
    color: transparent;
}

.my-form input[type="checkbox"]{
    display: inline-block;
    margin: 0 10px 0 0;
    height: 10px;
    width : 10px;
}

.my-form label{
    display: inline-block;
    margin: 10px 0 30px;
}

.my-form textarea{
    padding: 0.7em;
    margin: 0 0 10px;
    height: 250px;
    color: #333;
    font-weight: normal;
}

.my-form select{
    padding: 0 8px;
}

.my-form select option{
    padding: 6px 11px;
}

.my-ul{
    padding: 0;
}

.my-cabinet-ul li a:hover{
    text-decoration: underline;
}

.my-right-box{
    padding: 0 15px;
}

.my-table-products tr th+th+th{
    width: 100px;
}

.my-table-products tr th+th+th+th{
    width: 130px;
}

.my-table-products tr th+th+th+th+th{
    width: 110px;
}

.my-ul-underline li a:hover{
    text-decoration: underline;
}

.my-table-admin-goods tr th:first-child{
    width: 100px;
}

.my-table-admin-goods tr th+th+th+th+th{
    width: 110px;
}

.my-table-admin-goods tr th+th+th+th+th+th{
    width: 124px;
}

.my-table-admin-goods tr th+th+th+th+th+th+th{
    width: 80px;
}

.my-form-delete-product{
    display: inline-block;
    margin: 0 100px 0 0;
}

.my-table-admin tr th+th{
    width: 100px;
}